/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

We will call each of our .scsss files in here. As you can see we will put
the _tablet whithin the tablet block and the _mobile within the mobile block. 
******************************************************************/
/****************************************************************************
_mixins.scss

Site Name:
Author:
Date:

This is where you'll put the mixins, colors, or any "functions" that you may need
but remember to not overdo it.
*****************************************************************************/
/*********************
COLORS (http://0to255.com/)
*********************/
/** Alert Colors **/
/** Neutral Shades **/
/** Bare Colors **/
/** Link Colors **/
/*********************
TYPOGRAPHY
*********************/
/*
 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 71, ../scss/_mixins.scss */
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/* line 77, ../scss/_mixins.scss */
.text-left {
  text-align: left;
}

/* line 78, ../scss/_mixins.scss */
.text-center {
  text-align: center;
}

/* line 79, ../scss/_mixins.scss */
.text-right {
  text-align: right;
}

/******************
STRUCTURE
*******************/
/* line 84, ../scss/_mixins.scss */
.float-left {
  float: left;
}

/* line 88, ../scss/_mixins.scss */
.float-right {
  float: right;
}

/** Alert **/
/* line 93, ../scss/_mixins.scss */
.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

/* line 99, ../scss/_mixins.scss */
.alert-help {
  border-color: #e4ef51;
  background: #e8f168;
}

/* line 105, ../scss/_mixins.scss */
.alert-info {
  border-color: #2d4fb4;
  background: #3258c8;
}

/* line 111, ../scss/_mixins.scss */
.alert-error {
  border-color: #cc022d;
  background: #e50233;
}

/* line 117, ../scss/_mixins.scss */
.alert-success {
  border-color: #116a21;
  background: #158028;
}

/*********************
"Functions"
*********************/
/** CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
**/
/** BOX SIZING **/
/*********************
BUTTONS
*********************/
/* line 185, ../scss/_mixins.scss */
.button, .button:visited {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #111d41;
  border-top-color: #17275a;
  border-left-color: #17275a;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  border-radius: 4px;
  background-color: #192b62;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1e3476), to(#192b62));
  background-image: -webkit-linear-gradient(top, #1e3476, #192b62);
  background-image: -moz-linear-gradient(top, #1e3476, #192b62);
  background-image: -o-linear-gradient(top, #1e3476, #192b62);
  background-image: linear-gradient(to bottom, #1e3476, #192b62);
}
/* line 204, ../scss/_mixins.scss */
.button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
  color: white;
  border: 1px solid #111d41;
  border-top-color: #091025;
  border-left-color: #091025;
  background-color: #14224d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#192b62), to(#14224d));
  background-image: -webkit-linear-gradient(top, #192b62, #14224d);
  background-image: -moz-linear-gradient(top, #192b62, #14224d);
  background-image: -o-linear-gradient(top, #192b62, #14224d);
  background-image: linear-gradient(to bottom, #192b62, #14224d);
}
/* line 212, ../scss/_mixins.scss */
.button:active, .button:visited:active {
  background-color: #1e3476;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#192b62), to(#1e3476));
  background-image: -webkit-linear-gradient(top, #192b62, #1e3476);
  background-image: -moz-linear-gradient(top, #192b62, #1e3476);
  background-image: -o-linear-gradient(top, #192b62, #1e3476);
  background-image: linear-gradient(to bottom, #192b62, #1e3476);
}

/* line 217, ../scss/_mixins.scss */
.blue-button, .blue-button:visited {
  border-color: #223a83;
  text-shadow: 0 1px 1px #223a83;
  background-color: #274398;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2c4cac), to(#274398));
  background-image: -webkit-linear-gradient(top, #2c4cac, #274398);
  background-image: -moz-linear-gradient(top, #2c4cac, #274398);
  background-image: -o-linear-gradient(top, #2c4cac, #274398);
  background-image: linear-gradient(to bottom, #2c4cac, #274398);
  box-shadow: inset 0 0 3px #5675d4;
  color: white;
}
/* line 224, ../scss/_mixins.scss */
.blue-button:hover, .blue-button:focus, .blue-button:visited:hover, .blue-button:visited:focus {
  border-color: #1c316f;
  background-color: #223a83;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#28459c), to(#223a83));
  background-image: -webkit-linear-gradient(top, #28459c, #223a83);
  background-image: -moz-linear-gradient(top, #28459c, #223a83);
  background-image: -o-linear-gradient(top, #28459c, #223a83);
  background-image: linear-gradient(to bottom, #28459c, #223a83);
}
/* line 228, ../scss/_mixins.scss */
.blue-button:active, .blue-button:visited:active {
  background-color: #2c4cac;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#274398), to(#2c4cac));
  background-image: -webkit-linear-gradient(top, #274398, #2c4cac);
  background-image: -moz-linear-gradient(top, #274398, #2c4cac);
  background-image: -o-linear-gradient(top, #274398, #2c4cac);
  background-image: linear-gradient(to bottom, #274398, #2c4cac);
}

/****************************************************************************
_defaults.scss

NOTE: Please do not edit this file as this is the defaults provided by BASE
which includes:

  - reseting elements
  - default font-sizes
  - colors
  - typography
*****************************************************************************/
/* Resets */
/* line 34, ../scss/_defaults.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 35, ../scss/_defaults.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 36, ../scss/_defaults.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
}

/* line 37, ../scss/_defaults.scss */
body, form, fieldset, legend, input, select, textarea, button {
  margin: 0;
}

/* line 38, ../scss/_defaults.scss */
html {
  font-size: 100%;
}

/* ==========================================================================
/* 1.0 - Document Setup (typography, links, paragraph, etc)
   ========================================================================== */
/* Body */
/* line 44, ../scss/_defaults.scss */
body {
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-size: 21px;
  font-size: 1.3125rem;
  color: #434343;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Strong and Italic */
/* Links */
/* line 59, ../scss/_defaults.scss */
a {
  color: #27ae61;
}

/* line 60, ../scss/_defaults.scss */
a:hover {
  text-decoration: none;
}

/* line 61, ../scss/_defaults.scss */
a:focus {
  outline: thin dotted;
}

/* line 62, ../scss/_defaults.scss */
a:active, a:hover {
  outline: 0;
}

/* Paragraph and Small */
/* line 66, ../scss/_defaults.scss */
p {
  margin: 0 0 1.6em 0;
}

/* line 67, ../scss/_defaults.scss */
pre {
  margin: 1em 0;
}

/* line 68, ../scss/_defaults.scss */
ul + p, ul + pre, ol + p, ol + pre {
  margin-top: 0;
}

/* line 69, ../scss/_defaults.scss */
small {
  font-size: 80%;
}

/* Abbreviations */
/* line 72, ../scss/_defaults.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* Audio */
/* line 78, ../scss/_defaults.scss */
audio:not([controls]) {
  height: 0;
}

/* Small, 
Sub and Sup */
/* line 85, ../scss/_defaults.scss */
small {
  font-size: 80%;
}

/* line 86, ../scss/_defaults.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 92, ../scss/_defaults.scss */
sup {
  top: -.5em;
}

/* line 93, ../scss/_defaults.scss */
sub {
  bottom: -.25em;
}

/* Definition */
/* Images */
/* line 99, ../scss/_defaults.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 103, ../scss/_defaults.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 104, ../scss/_defaults.scss */
figure {
  margin: 0;
}

/* line 106, ../scss/_defaults.scss */
.image-left {
  margin-right: 20px;
}

/* line 107, ../scss/_defaults.scss */
.image-right {
  margin-left: 20px;
}

/* 1.1 Headings - h1, h2, h3, h4, h5, h6 & other (if any)
   ========================================================================== */
/* line 112, ../scss/_defaults.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: normal;
  font-weight: normal;
  margin: 0 0 .33em 0;
}

/* line 117, ../scss/_defaults.scss */
h1, .h1 {
  font-size: 40px;
  font-size: 2.5rem;
}

/* line 120, ../scss/_defaults.scss */
h2, .h2 {
  font-size: 32px;
  font-size: 2rem;
}

/* line 123, ../scss/_defaults.scss */
h3, .h3 {
  font-size: 26px;
  font-size: 1.625rem;
}

/* line 126, ../scss/_defaults.scss */
h4, .h4 {
  font-size: 20px;
  font-size: 1.25rem;
}

/* line 129, ../scss/_defaults.scss */
h5, .h5 {
  font-size: 18px;
  font-size: 1.125rem;
}

/* line 132, ../scss/_defaults.scss */
h6, .h6 {
  font-size: 16px;
  font-size: 1rem;
}

/* Reset Heading */
/* line 136, ../scss/_defaults.scss */
.no-style-heading {
  margin: 0;
  font-size: 100%;
}

/* Horizontal Rule */
/* line 142, ../scss/_defaults.scss */
hr {
  border: 0;
  background: none;
  outline: 0;
  background-color: #ddd;
  margin: 2em 0;
  *margin: 1em 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
}

/* 1.2 Quotes and Code - block quotes, quotes, code, pre, etc
   ========================================================================== */
/* Block Quotes and Quotes */
/* line 158, ../scss/_defaults.scss */
blockquote {
  font-size: 22px;
  font-size: 1.375rem;
  font-size: 32px;
  font-size: 2rem;
  color: #434343;
  margin: 1em 0;
}
/* line 164, ../scss/_defaults.scss */
blockquote p {
  margin: 1em 0;
}

/* line 168, ../scss/_defaults.scss */
cite {
  color: #434343;
  font-style: normal;
  font-size: 16px;
  font-size: 1rem;
  line-height: normal;
}

/* line 176, ../scss/_defaults.scss */
q {
  quotes: none;
}

/* line 180, ../scss/_defaults.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* Mark */
/* line 186, ../scss/_defaults.scss */
mark {
  background: #ff0;
  color: #111;
}

/* Code */
/* line 192, ../scss/_defaults.scss */
code, kbd, pre, samp {
  word-wrap: break-word;
  font-family: 'courier new', monospace, serif;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: normal;
  font-weight: normal;
  background-color: #f1f1f1;
  padding: 10px;
}

/* line 201, ../scss/_defaults.scss */
code {
  color: #111;
}

/* 1.3 Lists
   ========================================================================== */
/* line 207, ../scss/_defaults.scss */
dl, menu, ol, ul {
  margin: 1em 0;
}

/* line 212, ../scss/_defaults.scss */
dd,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0;
}

/* line 216, ../scss/_defaults.scss */
dd {
  margin-bottom: 1em;
}

/* line 219, ../scss/_defaults.scss */
menu, ol, ul {
  padding: 0 0 0 22px;
}

/* line 220, ../scss/_defaults.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/* Remove Styling from List */
/* line 225, ../scss/_defaults.scss */
.unstyled-list, .inline-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 229, ../scss/_defaults.scss */
.unstyled-list li, .inline-list li {
  margin-top: 0;
  margin-bottom: 0;
}

/* 1.4 Tables
   ========================================================================== */
/* line 244, ../scss/_defaults.scss */
table {
  width: 100%;
  margin: 1em 0;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  *white-space: normal;
}

/* line 257, ../scss/_defaults.scss */
table th,
table td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
}

/* line 265, ../scss/_defaults.scss */
table thead th,
table tfoot th {
  vertical-align: bottom;
  background-color: #f1f1f1;
  color: #333;
}

/* line 271, ../scss/_defaults.scss */
table caption {
  padding: 8px;
  font-weight: normal;
  font-style: normal;
  border-bottom: 0;
}

/* 1.5 Forms, Labels and Inputs
   ========================================================================== */
/* line 282, ../scss/_defaults.scss */
fieldset {
  border: 0;
  padding: 0;
}

/* line 286, ../scss/_defaults.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 293, ../scss/_defaults.scss */
label {
  margin: 0;
  cursor: pointer;
}

/* line 298, ../scss/_defaults.scss */
button, input, select, textarea {
  font-size: 100%;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 309, ../scss/_defaults.scss */
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
textarea {
  padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: normal;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #111;
}

/* line 320, ../scss/_defaults.scss */
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
  box-sizing: border-box;
  line-height: normal;
  margin: 0;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 330, ../scss/_defaults.scss */
.checkbox {
  margin: .2em 0;
}
/* line 334, ../scss/_defaults.scss */
.checkbox input[type=checkbox],
.checkbox input[type=radio] {
  margin-top: .05em;
}
/* line 338, ../scss/_defaults.scss */
.checkbox label {
  padding-left: 5px;
  overflow: hidden;
  display: table;
  *zoom: 1;
}

/* line 346, ../scss/_defaults.scss */
button, input {
  line-height: normal;
}

/* line 347, ../scss/_defaults.scss */
button, select {
  text-transform: none;
}

/* Buttons */
/* line 353, ../scss/_defaults.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 360, ../scss/_defaults.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 362, ../scss/_defaults.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 369, ../scss/_defaults.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 371, ../scss/_defaults.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 375, ../scss/_defaults.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}

/* Custom Buttons */
/* line 382, ../scss/_defaults.scss */
.button {
  border: 0;
  padding: 1em 3em;
  background-color: #e74b3c;
  color: #fff;
  text-decoration: none;
  position: relative;
}

/* line 392, ../scss/_defaults.scss */
.button:hover {
  background-color: #fc5547;
}

/* line 395, ../scss/_defaults.scss */
.button:active {
  top: 1px;
}

/* line 399, ../scss/_defaults.scss */
.grey-button {
  background-color: #eee;
  color: #434343;
}

/* line 403, ../scss/_defaults.scss */
.grey-button:hover {
  background-color: #f1f1f1;
}

/* line 408, ../scss/_defaults.scss */
.button[disabled],
.button.disabled {
  color: #999;
  background-color: #f1f1f1;
}

/* line 413, ../scss/_defaults.scss */
.unstyled-button {
  font-size: 16px;
  font-size: 1rem;
  color: #27ae61;
  text-decoration: underline;
  border: 0;
  background: transparent;
  height: auto;
  padding: 0;
  cursor: pointer;
  outline: 0;
}
/* line 423, ../scss/_defaults.scss */
.unstyled-button:hover {
  text-decoration: none;
}

/* line 428, ../scss/_defaults.scss */
.unstyled-button[disabled],
.unstyled-button.disabled {
  text-decoration: none;
  color: #999;
  background-color: #ccc;
}

/****************************************************************************
_desktop.scss

Site Name:
Author:
Date:

As the name suggests, this is the CSS for desktop browsers. Please put your custom
CSS after the note.
*****************************************************************************/
/* Sections & Content Blocks */
/* line 13, ../scss/_desktop.scss */
.section {
  position: relative;
}

/* line 15, ../scss/_desktop.scss */
.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 22, ../scss/_desktop.scss */
.container-full {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* Fluid Grid */
/* line 29, ../scss/_desktop.scss */
.col {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 34, ../scss/_desktop.scss */
[class*="pull-"], [class*="push-"] {
  position: relative;
}

/* line 36, ../scss/_desktop.scss */
.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

/* Columns */
/* line 42, ../scss/_desktop.scss */
.col-1 {
  width: 8.33333%;
  width: calc(100% / 12 * 1);
  width: -webkit-calc(100% / 12 * 1);
  width: -moz-calc(100% / 12 * 1);
}

/* line 48, ../scss/_desktop.scss */
.col-2 {
  width: 16.66667%;
  width: calc(100% / 12 * 2);
  width: -webkit-calc(100% / 12 * 2);
  width: -moz-calc(100% / 12 * 2);
}

/* line 54, ../scss/_desktop.scss */
.col-3, .col-1-4 {
  width: 25%;
  width: calc(100% / 12 * 3);
  width: -webkit-calc(100% / 12 * 3);
  width: -moz-calc(100% / 12 * 3);
}

/* line 60, ../scss/_desktop.scss */
.col-4, .col-1-3 {
  width: 33.33333%;
  width: calc(100% / 12 * 4);
  width: -webkit-calc(100% / 12 * 4);
  width: -moz-calc(100% / 12 * 4);
}

/* line 66, ../scss/_desktop.scss */
.col-5 {
  width: 41.66665%;
  width: calc(100% / 12 * 5);
  width: -webkit-calc(100% / 12 * 5);
  width: -moz-calc(100% / 12 * 5);
}

/* line 72, ../scss/_desktop.scss */
.col-6, .col-1-2 {
  width: 50%;
  width: calc(100% / 12 * 6);
  width: -webkit-calc(100% / 12 * 6);
  width: -moz-calc(100% / 12 * 6);
}

/* line 78, ../scss/_desktop.scss */
.col-7 {
  width: 58.33333%;
  width: calc(100% / 12 * 7);
  width: -webkit-calc(100% / 12 * 7);
  width: -moz-calc(100% / 12 * 7);
}

/* line 84, ../scss/_desktop.scss */
.col-8 {
  width: 66.66666%;
  width: calc(100% / 12 * 8);
  width: -webkit-calc(100% / 12 * 8);
  width: -moz-calc(100% / 12 * 8);
}

/* line 90, ../scss/_desktop.scss */
.col-9, .col-3-4 {
  width: 75%;
  width: calc(100% / 12 * 9);
  width: -webkit-calc(100% / 12 * 9);
  width: -moz-calc(100% / 12 * 9);
}

/* line 96, ../scss/_desktop.scss */
.col-10 {
  width: 83.33333%;
  width: calc(100% / 12 * 10);
  width: -webkit-calc(100% / 12 * 10);
  width: -moz-calc(100% / 12 * 10);
}

/* line 102, ../scss/_desktop.scss */
.col-11 {
  width: 91.66666%;
  width: calc(100% / 12 * 11);
  width: -webkit-calc(100% / 12 * 11);
  width: -moz-calc(100% / 12 * 11);
}

/* line 108, ../scss/_desktop.scss */
.col-12 {
  width: 100%;
}

/* Push/Pull */
/* line 116, ../scss/_desktop.scss */
.push-1 {
  left: 8.33333%;
  left: calc(100% / 12 * 1);
  left: -webkit-calc(100% / 12 * 1);
  left: -moz-calc(100% / 12 * 1);
}

/* line 122, ../scss/_desktop.scss */
.pull-1 {
  left: -8.33333%;
  left: calc(-100% / 12 * 1);
  left: -webkit-calc(-100% / 12 * 1);
  left: -moz-calc(-100% / 12 * 1);
}

/* line 128, ../scss/_desktop.scss */
.push-2 {
  left: 16.66667%;
  left: calc(100% / 12 * 2);
  left: -webkit-calc(100% / 12 * 2);
  left: -moz-calc(100% / 12 * 2);
}

/* line 134, ../scss/_desktop.scss */
.pull-2 {
  left: -16.66667%;
  left: calc(-100% / 12 * 2);
  left: -webkit-calc(-100% / 12 * 2);
  left: -moz-calc(-100% / 12 * 2);
}

/* line 140, ../scss/_desktop.scss */
.push-3 {
  left: 25%;
  left: calc(100% / 12 * 3);
  left: -webkit-calc(100% / 12 * 3);
  left: -moz-calc(100% / 12 * 3);
}

/* line 146, ../scss/_desktop.scss */
.pull-3 {
  left: -25%;
  left: calc(-100% / 12 * 3);
  left: -webkit-calc(-100% / 12 * 3);
  left: -moz-calc(-100% / 12 * 3);
}

/* line 152, ../scss/_desktop.scss */
.push-4 {
  left: 33.33333%;
  left: calc(100% / 12 * 4);
  left: -webkit-calc(100% / 12 * 4);
  left: -moz-calc(100% / 12 * 4);
}

/* line 158, ../scss/_desktop.scss */
.pull-4 {
  left: -33.33333%;
  left: calc(-100% / 12 * 4);
  left: -webkit-calc(-100% / 12 * 4);
  left: -moz-calc(-100% / 12 * 4);
}

/* line 164, ../scss/_desktop.scss */
.push-5 {
  left: 41.66665%;
  left: calc(100% / 12 * 5);
  left: -webkit-calc(100% / 12 * 5);
  left: -moz-calc(100% / 12 * 5);
}

/* line 170, ../scss/_desktop.scss */
.pull-5 {
  left: -41.66665%;
  left: calc(-100% / 12 * 5);
  left: -webkit-calc(-100% / 12 * 5);
  left: -moz-calc(-100% / 12 * 5);
}

/* line 176, ../scss/_desktop.scss */
.push-6 {
  left: 50%;
  left: calc(100% / 12 * 6);
  left: -webkit-calc(100% / 12 * 6);
  left: -moz-calc(100% / 12 * 6);
}

/* line 182, ../scss/_desktop.scss */
.pull-6 {
  left: -50%;
  left: calc(-100% / 12 * 6);
  left: -webkit-calc(-100% / 12 * 6);
  left: -moz-calc(-100% / 12 * 6);
}

/* line 188, ../scss/_desktop.scss */
.push-7 {
  left: 58.33333%;
  left: calc(100% / 12 * 7);
  left: -webkit-calc(100% / 12 * 7);
  left: -moz-calc(100% / 12 * 7);
}

/* line 194, ../scss/_desktop.scss */
.pull-7 {
  left: -58.33333%;
  left: calc(-100% / 12 * 7);
  left: -webkit-calc(-100% / 12 * 7);
  left: -moz-calc(-100% / 12 * 7);
}

/* line 200, ../scss/_desktop.scss */
.push-8 {
  left: 66.66666%;
  left: calc(100% / 12 * 8);
  left: -webkit-calc(100% / 12 * 8);
  left: -moz-calc(100% / 12 * 8);
}

/* line 206, ../scss/_desktop.scss */
.pull-8 {
  left: -66.66666%;
  left: calc(-100% / 12 * 8);
  left: -webkit-calc(-100% / 12 * 8);
  left: -moz-calc(-100% / 12 * 8);
}

/* line 212, ../scss/_desktop.scss */
.push-9 {
  left: 75%;
  left: calc(100% / 12 * 9);
  left: -webkit-calc(100% / 12 * 9);
  left: -moz-calc(100% / 12 * 9);
}

/* line 218, ../scss/_desktop.scss */
.pull-9 {
  left: -75%;
  left: calc(-100% / 12 * 9);
  left: -webkit-calc(-100% / 12 * 9);
  left: -moz-calc(-100% / 12 * 9);
}

/* line 224, ../scss/_desktop.scss */
.push-10 {
  left: 83.33333%;
  left: calc(100% / 12 * 10);
  left: -webkit-calc(100% / 12 * 10);
  left: -moz-calc(100% / 12 * 10);
}

/* line 230, ../scss/_desktop.scss */
.pull-10 {
  left: -83.33333%;
  left: calc(-100% / 12 * 10);
  left: -webkit-calc(-100% / 12 * 10);
  left: -moz-calc(-100% / 12 * 10);
}

/* line 236, ../scss/_desktop.scss */
.push-11 {
  left: 91.66666%;
  left: calc(100% / 12 * 11);
  left: -webkit-calc(100% / 12 * 11);
  left: -moz-calc(100% / 12 * 11);
}

/* line 242, ../scss/_desktop.scss */
.pull-11 {
  left: -91.66666%;
  left: calc(-100% / 12 * 11);
  left: -webkit-calc(-100% / 12 * 11);
  left: -moz-calc(-100% / 12 * 11);
}

/* Rows */
/* line 250, ../scss/_desktop.scss */
.row {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* ==========================================================================
/* CSS Helpers / Extras
   ========================================================================== */
/* Clearfix */
/* line 260, ../scss/_desktop.scss */
.clear:before, .clear:after {
  content: "";
  display: table;
}

/* line 260, ../scss/_desktop.scss */
.clear:after {
  clear: both;
}

/* line 260, ../scss/_desktop.scss */
.clear {
  zoom: 1;
}

/* Floats */
/* line 263, ../scss/_desktop.scss */
.left, .checkbox input[type=checkbox],
.checkbox input[type=radio] {
  float: left;
}

/* line 264, ../scss/_desktop.scss */
.right {
  float: right;
}

/* Display */
/* line 267, ../scss/_desktop.scss */
.block, .checkbox {
  display: block;
}

/* line 268, ../scss/_desktop.scss */
.inline {
  display: inline;
}

/* line 269, ../scss/_desktop.scss */
.inline-block, audio, canvas, video, .inline-list, .inline-list li, .button {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

/* line 276, ../scss/_desktop.scss */
.none, audio:not([controls]),
[hidden],
.no-desktop {
  display: none;
}

/* Font Weights */
/* line 281, ../scss/_desktop.scss */
.heavy {
  font-weight: 900;
}

/* line 282, ../scss/_desktop.scss */
.strong, b, strong {
  font-weight: 700;
}

/* line 283, ../scss/_desktop.scss */
.normal, cite, dt, table thead th,
table tfoot th, table caption, legend, input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
textarea {
  font-weight: normal;
}

/* line 284, ../scss/_desktop.scss */
.thin {
  font-weight: 300;
}

/* line 285, ../scss/_desktop.scss */
.italic, i, em, .em, dfn, blockquote, q {
  font-style: italic;
}

/* Font Styles */
/* line 288, ../scss/_desktop.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 289, ../scss/_desktop.scss */
.uppercase {
  text-transform: uppercase;
}

/* Text Position */
/* line 292, ../scss/_desktop.scss */
.left-text, table caption {
  text-align: left;
}

/* line 293, ../scss/_desktop.scss */
.right-text {
  text-align: right;
}

/* line 294, ../scss/_desktop.scss */
.center-text, .button {
  text-align: center;
}

/* Accessibility (offscreen text for screen readers) */
/* line 297, ../scss/_desktop.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -9999em;
}

/* line 307, ../scss/_desktop.scss */
.visuallyvisible {
  clip: auto;
  width: auto;
  height: auto;
  overflow: visible;
  left: 0;
}

/* Margin and Padding Reset */
/* line 315, ../scss/_desktop.scss */
.no-margin {
  margin: 0;
}

/* line 316, ../scss/_desktop.scss */
.no-padding {
  padding: 0;
}

/**************************************
CUSTOM STYLES
***************************************/
/** WORDPRESS BODY CLASSES
style a page via class
********************/
/* for sites that are read right to left (i.e. hebrew) */
/* home page */
/* blog template page */
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* parent page template */
/* child page template */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
/*********************
LINK STYLES
*********************/
/* line 366, ../scss/_desktop.scss */
a, a:visited {
  color: #1e3476;
  /* on hover */
  /* on click */
  /* mobile tap color */
}
/* line 370, ../scss/_desktop.scss */
a:hover, a:focus, a:visited:hover, a:visited:focus {
  color: #17285b;
}
/* line 375, ../scss/_desktop.scss */
a:active, a:visited:active {
  color: #9caee6;
}
/* line 380, ../scss/_desktop.scss */
a:link, a:visited:link {
  /*
  this highlights links on iPhones/iPads.
  so it basically works like the :hover selector
  for mobile devices.
  */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

/*********************
HEADER STYLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
/*
All navs has .nav for ease of mass styling.
*/
/* line 406, ../scss/_desktop.scss */
#main-top-nav {
  border-top: 1px solid gray;
  /* end .nav */
}
/* line 409, ../scss/_desktop.scss */
#main-top-nav .nav {
  margin: 0 auto;
  /* end .menu li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 412, ../scss/_desktop.scss */
#main-top-nav .nav li {
  /** For Sub-menus **/
}
/* line 428, ../scss/_desktop.scss */
#main-top-nav .nav li ul.sub-menu li a,
#main-top-nav .nav li ul.children li a {
  padding-left: 30px;
}

/*********************
POSTS & CONTENT STYLES
*********************/
/* line 465, ../scss/_desktop.scss */
#content {
  margin-top: 2.2em;
}

/* end .hentry */
/* For individual post styling */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
/* line 497, ../scss/_desktop.scss */
.byline {
  color: #999;
}

/* entry content */
/* line 504, ../scss/_desktop.scss */
.entry-content {
  /* 
    These are added mostly to things that you put in the post/page editor
    (ie. images, text, etc)
  */
}
/* line 539, ../scss/_desktop.scss */
.entry-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
/* line 546, ../scss/_desktop.scss */
.entry-content img {
  margin: 0 0 1.5em 0;
  max-width: 100%;
  height: auto;
}
/* line 560, ../scss/_desktop.scss */
.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto;
}
/* line 565, ../scss/_desktop.scss */
.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px;
}

/* end .entry-content */
/* line 573, ../scss/_desktop.scss */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
  /* images inside wp-caption */
}
/* line 579, ../scss/_desktop.scss */
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
/* line 585, ../scss/_desktop.scss */
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}

/* end .wp-caption */
/* image gallery styles */
/* end .gallery */
/* gallery caption styles */
/******************************************************************
PAGE NAVI STYLES
******************************************************************/
/* line 623, ../scss/_desktop.scss */
.pagination,
.wp-prev-next {
  margin: 1.1em 0 2.2em;
}

/* line 626, ../scss/_desktop.scss */
.pagination {
  text-align: center;
}
/* line 628, ../scss/_desktop.scss */
.pagination ul {
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  clear: both;
  margin: 1px;
}
/* line 634, ../scss/_desktop.scss */
.pagination ul li {
  padding: 0;
  margin: 0;
  float: left;
  display: inline;
  overflow: hidden;
}
/* line 640, ../scss/_desktop.scss */
.pagination ul li a, .pagination ul li span {
  margin: 0;
  text-decoration: none;
  padding: 0;
  line-height: 1em;
  font-size: 1em;
  font-weight: normal;
  padding: .5em;
  min-width: 1em;
  display: block;
}
/* line 651, ../scss/_desktop.scss */
.pagination ul li span.current {
  font-weight: bold;
}

/* end .bones_page_navi */
/* fallback previous & next links */
/* line 666, ../scss/_desktop.scss */
.wp-prev-next .prev-link {
  float: left;
}
/* line 670, ../scss/_desktop.scss */
.wp-prev-next .next-link {
  float: right;
}

/* end .wp-prev-next */
/******************************************************************
COMMENT STYLES
******************************************************************/
/* h3 comment title */
/* line 681, ../scss/_desktop.scss */
#comments {
  /* number of comments span */
}

/* line 698, ../scss/_desktop.scss */
.commentlist {
  /* general comment classes */
  /* vcard */
  /* end .commentlist .vcard */
  /* comment meta */
  /* comment content */
  /* end .commentlist .comment_content */
  /* comment reply link */
  /* end .commentlist .comment-reply-link */
}
/* line 700, ../scss/_desktop.scss */
.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px;
  /* end .commentlist li ul.children */
}
/* line 708, ../scss/_desktop.scss */
.commentlist li:last-child {
  margin-bottom: 0;
}
/* line 712, ../scss/_desktop.scss */
.commentlist li ul.children {
  margin: 0;
  /* variations */
  /* change number for different depth */
}
/* line 730, ../scss/_desktop.scss */
.commentlist li[class*=depth-] {
  margin-top: 1.1em;
}
/* line 734, ../scss/_desktop.scss */
.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
/* line 739, ../scss/_desktop.scss */
.commentlist li:not(.depth-1) {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 0;
  padding-bottom: 0;
}
/* line 753, ../scss/_desktop.scss */
.commentlist .odd {
  background: #eee;
}
/* line 756, ../scss/_desktop.scss */
.commentlist .even {
  background: #fefefe;
}
/* line 771, ../scss/_desktop.scss */
.commentlist .vcard {
  margin-left: 50px;
}
/* line 774, ../scss/_desktop.scss */
.commentlist .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
/* line 782, ../scss/_desktop.scss */
.commentlist .vcard time {
  float: right;
}
/* line 785, ../scss/_desktop.scss */
.commentlist .vcard time a {
  color: #999;
  text-decoration: none;
}
/* line 789, ../scss/_desktop.scss */
.commentlist .vcard time a:hover {
  text-decoration: underline;
}
/* line 799, ../scss/_desktop.scss */
.commentlist .vcard img.avatar {
  position: absolute;
  left: 10px;
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff;
}
/* line 824, ../scss/_desktop.scss */
.commentlist .comment_content {
  margin-left: 50px;
}
/* line 827, ../scss/_desktop.scss */
.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 836, ../scss/_desktop.scss */
.commentlist .comment-reply-link {
  text-decoration: none;
  float: right;
  background: #4598bb;
  padding: 3px 5px;
  color: #fff;
  opacity: 0.65;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 0.9em;
}
/* line 848, ../scss/_desktop.scss */
.commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus {
  opacity: 1;
}

/* end .commentlist */
/******************************************************************
COMMENT FORM STYLES
******************************************************************/
/* line 860, ../scss/_desktop.scss */
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em;
}
/* line 864, ../scss/_desktop.scss */
.respond-form form {
  margin: 0.75em 0;
}
/* line 867, ../scss/_desktop.scss */
.respond-form form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em;
}
/* line 873, ../scss/_desktop.scss */
.respond-form form li label,
.respond-form form li small {
  display: none;
}
/* line 881, ../scss/_desktop.scss */
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url],
.respond-form form textarea {
  padding: 3px 6px;
  background: #efefef;
  border: 2px solid #cecece;
  line-height: 1.5em;
  /* form validation */
}
/* line 887, ../scss/_desktop.scss */
.respond-form form input[type=text]:focus,
.respond-form form input[type=email]:focus,
.respond-form form input[type=url]:focus,
.respond-form form textarea:focus {
  background: #fff;
}
/* line 892, ../scss/_desktop.scss */
.respond-form form input[type=text]:invalid,
.respond-form form input[type=email]:invalid,
.respond-form form input[type=url]:invalid,
.respond-form form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
/* line 905, ../scss/_desktop.scss */
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url] {
  max-width: 400px;
  min-width: 250px;
}
/* line 910, ../scss/_desktop.scss */
.respond-form form textarea {
  resize: none;
  width: 97.3%;
  height: 150px;
}

/* comment submit button */
/* comment form title */
/* line 923, ../scss/_desktop.scss */
#comment-form-title {
  margin: 0 0 1.1em;
}

/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
/* line 936, ../scss/_desktop.scss */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
/* line 941, ../scss/_desktop.scss */
.nocomments {
  margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 957, ../scss/_desktop.scss */
.widget ul li {
  /* deep nesting */
}

/*********************
FOOTER STYLES
*********************/
/* line 978, ../scss/_desktop.scss */
.footer {
  clear: both;
}

/* line 982, ../scss/_desktop.scss */
.footer-nav {
  padding-left: 0;
}

/* end .footer-links */
@media only screen and (min-width: 740px) and (max-width: 960px) {
  /****************************************************************************
  _tablet.scss
  
  Site Name:
  Author:
  Date:
  
  As the name suggests, this is the CSS for tablet browsers. Please put your custom
  CSS after the note.
  *****************************************************************************/
  /* line 12, ../scss/_tablet.scss */
  .container, .tablet-container {
    max-width: 960px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  /* line 19, ../scss/_tablet.scss */
  .container:first-child, .tablet-container:first-child {
    margin-left: auto;
  }

  /* line 21, ../scss/_tablet.scss */
  .tablet-container-full {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  /* line 27, ../scss/_tablet.scss */
  .tablet-container-full:first-child {
    margin-left: auto;
  }

  /* line 30, ../scss/_tablet.scss */
  .tablet-no-gutter {
    padding-left: 0;
    padding-right: 0;
  }

  /* Tablet Grid */
  /* line 36, ../scss/_tablet.scss */
  .tablet-col-1 {
    width: 8.33333%;
    width: calc(100% / 12 * 1);
    width: -webkit-calc(100% / 12 * 1);
    width: -moz-calc(100% / 12 * 1);
  }

  /* line 42, ../scss/_tablet.scss */
  .tablet-col-2 {
    width: 16.66667%;
    width: calc(100% / 12 * 2);
    width: -webkit-calc(100% / 12 * 2);
    width: -moz-calc(100% / 12 * 2);
  }

  /* line 48, ../scss/_tablet.scss */
  .tablet-col-3, .tablet-col-1-4 {
    width: 25%;
    width: calc(100% / 12 * 3);
    width: -webkit-calc(100% / 12 * 3);
    width: -moz-calc(100% / 12 * 3);
  }

  /* line 54, ../scss/_tablet.scss */
  .tablet-col-4, .tablet-col-1-3 {
    width: 33.33333%;
    width: calc(100% / 12 * 4);
    width: -webkit-calc(100% / 12 * 4);
    width: -moz-calc(100% / 12 * 4);
  }

  /* line 60, ../scss/_tablet.scss */
  .tablet-col-5 {
    width: 41.66665%;
    width: calc(100% / 12 * 5);
    width: -webkit-calc(100% / 12 * 5);
    width: -moz-calc(100% / 12 * 5);
  }

  /* line 66, ../scss/_tablet.scss */
  .tablet-col-6, .tablet-col-1-2 {
    width: 50%;
    width: calc(100% / 12 * 6);
    width: -webkit-calc(100% / 12 * 6);
    width: -moz-calc(100% / 12 * 6);
  }

  /* line 72, ../scss/_tablet.scss */
  .tablet-col-7 {
    width: 58.33333%;
    width: calc(100% / 12 * 7);
    width: -webkit-calc(100% / 12 * 7);
    width: -moz-calc(100% / 12 * 7);
  }

  /* line 78, ../scss/_tablet.scss */
  .tablet-col-8 {
    width: 66.66666%;
    width: calc(100% / 12 * 8);
    width: -webkit-calc(100% / 12 * 8);
    width: -moz-calc(100% / 12 * 8);
  }

  /* line 84, ../scss/_tablet.scss */
  .tablet-col-9, .tablet-col-3-4 {
    width: 75%;
    width: calc(100% / 12 * 9);
    width: -webkit-calc(100% / 12 * 9);
    width: -moz-calc(100% / 12 * 9);
  }

  /* line 90, ../scss/_tablet.scss */
  .tablet-col-10 {
    width: 83.33333%;
    width: calc(100% / 12 * 10);
    width: -webkit-calc(100% / 12 * 10);
    width: -moz-calc(100% / 12 * 10);
  }

  /* line 96, ../scss/_tablet.scss */
  .tablet-col-11 {
    width: 91.66666%;
    width: calc(100% / 12 * 11);
    width: -webkit-calc(100% / 12 * 11);
    width: -moz-calc(100% / 12 * 11);
  }

  /* line 102, ../scss/_tablet.scss */
  .tablet-col-12 {
    width: 100%;
  }

  /* Tablet Push/Pull */
  /* line 110, ../scss/_tablet.scss */
  .tablet-push-1 {
    left: 8.33333%;
    left: calc(100% / 12 * 1);
    left: -webkit-calc(100% / 12 * 1);
    left: -moz-calc(100% / 12 * 1);
  }

  /* line 116, ../scss/_tablet.scss */
  .tablet-pull-1 {
    left: -8.33333%;
    left: calc(-100% / 12 * 1);
    left: -webkit-calc(-100% / 12 * 1);
    left: -moz-calc(-100% / 12 * 1);
  }

  /* line 122, ../scss/_tablet.scss */
  .tablet-push-2 {
    left: 16.66667%;
    left: calc(100% / 12 * 2);
    left: -webkit-calc(100% / 12 * 2);
    left: -moz-calc(100% / 12 * 2);
  }

  /* line 128, ../scss/_tablet.scss */
  .tablet-pull-2 {
    left: -16.66667%;
    left: calc(-100% / 12 * 2);
    left: -webkit-calc(-100% / 12 * 2);
    left: -moz-calc(-100% / 12 * 2);
  }

  /* line 134, ../scss/_tablet.scss */
  .tablet-push-3 {
    left: 25%;
    left: calc(100% / 12 * 3);
    left: -webkit-calc(100% / 12 * 3);
    left: -moz-calc(100% / 12 * 3);
  }

  /* line 140, ../scss/_tablet.scss */
  .tablet-pull-3 {
    left: -25%;
    left: calc(-100% / 12 * 3);
    left: -webkit-calc(-100% / 12 * 3);
    left: -moz-calc(-100% / 12 * 3);
  }

  /* line 146, ../scss/_tablet.scss */
  .tablet-push-4 {
    left: 33.33333%;
    left: calc(100% / 12 * 4);
    left: -webkit-calc(100% / 12 * 4);
    left: -moz-calc(100% / 12 * 4);
  }

  /* line 152, ../scss/_tablet.scss */
  .tablet-pull-4 {
    left: -33.33333%;
    left: calc(-100% / 12 * 4);
    left: -webkit-calc(-100% / 12 * 4);
    left: -moz-calc(-100% / 12 * 4);
  }

  /* line 158, ../scss/_tablet.scss */
  .tablet-push-5 {
    left: 41.66665%;
    left: calc(100% / 12 * 5);
    left: -webkit-calc(100% / 12 * 5);
    left: -moz-calc(100% / 12 * 5);
  }

  /* line 164, ../scss/_tablet.scss */
  .tablet-pull-5 {
    left: -41.66665%;
    left: calc(-100% / 12 * 5);
    left: -webkit-calc(-100% / 12 * 5);
    left: -moz-calc(-100% / 12 * 5);
  }

  /* line 170, ../scss/_tablet.scss */
  .tablet-push-6 {
    left: 50%;
    left: calc(100% / 12 * 6);
    left: -webkit-calc(100% / 12 * 6);
    left: -moz-calc(100% / 12 * 6);
  }

  /* line 176, ../scss/_tablet.scss */
  .tablet-pull-6 {
    left: -50%;
    left: calc(-100% / 12 * 6);
    left: -webkit-calc(-100% / 12 * 6);
    left: -moz-calc(-100% / 12 * 6);
  }

  /* line 182, ../scss/_tablet.scss */
  .tablet-push-7 {
    left: 58.33333%;
    left: calc(100% / 12 * 7);
    left: -webkit-calc(100% / 12 * 7);
    left: -moz-calc(100% / 12 * 7);
  }

  /* line 188, ../scss/_tablet.scss */
  .tablet-pull-7 {
    left: -58.33333%;
    left: calc(-100% / 12 * 7);
    left: -webkit-calc(-100% / 12 * 7);
    left: -moz-calc(-100% / 12 * 7);
  }

  /* line 194, ../scss/_tablet.scss */
  .tablet-push-8 {
    left: 66.66666%;
    left: calc(100% / 12 * 8);
    left: -webkit-calc(100% / 12 * 8);
    left: -moz-calc(100% / 12 * 8);
  }

  /* line 200, ../scss/_tablet.scss */
  .tablet-pull-8 {
    left: -66.66666%;
    left: calc(-100% / 12 * 8);
    left: -webkit-calc(-100% / 12 * 8);
    left: -moz-calc(-100% / 12 * 8);
  }

  /* line 206, ../scss/_tablet.scss */
  .tablet-push-9 {
    left: 75%;
    left: calc(100% / 12 * 9);
    left: -webkit-calc(100% / 12 * 9);
    left: -moz-calc(100% / 12 * 9);
  }

  /* line 212, ../scss/_tablet.scss */
  .tablet-pull-9 {
    left: -75%;
    left: calc(-100% / 12 * 9);
    left: -webkit-calc(-100% / 12 * 9);
    left: -moz-calc(-100% / 12 * 9);
  }

  /* line 218, ../scss/_tablet.scss */
  .tablet-push-10 {
    left: 83.33333%;
    left: calc(100% / 12 * 10);
    left: -webkit-calc(100% / 12 * 10);
    left: -moz-calc(100% / 12 * 10);
  }

  /* line 224, ../scss/_tablet.scss */
  .tablet-pull-10 {
    left: -83.33333%;
    left: calc(-100% / 12 * 10);
    left: -webkit-calc(-100% / 12 * 10);
    left: -moz-calc(-100% / 12 * 10);
  }

  /* line 230, ../scss/_tablet.scss */
  .tablet-push-11 {
    left: 91.66666%;
    left: calc(100% / 12 * 11);
    left: -webkit-calc(100% / 12 * 11);
    left: -moz-calc(100% / 12 * 11);
  }

  /* line 236, ../scss/_tablet.scss */
  .tablet-pull-11 {
    left: -91.66666%;
    left: calc(-100% / 12 * 11);
    left: -webkit-calc(-100% / 12 * 11);
    left: -moz-calc(-100% / 12 * 11);
  }

  /* line 243, ../scss/_tablet.scss */
  .tablet-no-push, .tablet-no-pull {
    left: auto;
  }

  /* Tablet Rows */
  /* line 246, ../scss/_tablet.scss */
  .tablet-row {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  /* line 251, ../scss/_tablet.scss */
  .tablet-full {
    left: auto;
    clear: both;
    float: none;
    width: 100%;
    margin: 1em 0 0 0;
    display: block;
  }

  /* line 259, ../scss/_tablet.scss */
  .tablet-full:first-child {
    margin-top: 0;
  }

  /* line 261, ../scss/_tablet.scss */
  .tablet-left-text {
    text-align: left;
  }

  /* line 262, ../scss/_tablet.scss */
  .tablet-right-text {
    text-align: right;
  }

  /* line 263, ../scss/_tablet.scss */
  .tablet-center-text {
    text-align: center;
  }

  /* line 265, ../scss/_tablet.scss */
  .tablet-left {
    float: left;
  }

  /* line 266, ../scss/_tablet.scss */
  .tablet-right {
    float: right;
  }

  /* line 267, ../scss/_tablet.scss */
  .tablet-no-float {
    float: none;
  }

  /* Margin and Padding Reset */
  /* line 270, ../scss/_tablet.scss */
  .tablet-no-margin {
    margin: 0;
  }

  /* line 271, ../scss/_tablet.scss */
  .tablet-no-padding {
    padding: 0;
  }

  /* line 273, ../scss/_tablet.scss */
  .no-tablet {
    display: none;
  }

  /* line 274, ../scss/_tablet.scss */
  .show-tablet {
    display: block;
  }

  /**************************************
  CUSTOM STYLES
  ***************************************/
}
@media only screen and (max-width: 739px) {
  /****************************************************************************
  _mobile.scss
  
  Site Name:
  Author:
  Date:
  
  As the name suggests, this is the CSS for mobile browsers. Please put your custom
  CSS after the note.
  *****************************************************************************/
  /* line 12, ../scss/_mobile.scss */
  .container, .mobile-container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  /* line 18, ../scss/_mobile.scss */
  .container:first-child, .mobile-container:first-child {
    margin-left: auto;
  }

  /* line 20, ../scss/_mobile.scss */
  .mobile-container-full {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  /* line 26, ../scss/_mobile.scss */
  .mobile-container-full:first-child {
    margin-left: auto;
  }

  /* line 29, ../scss/_mobile.scss */
  .mobile-no-gutter {
    padding-left: 0;
    padding-right: 0;
  }

  /* Mobile Grid */
  /* line 35, ../scss/_mobile.scss */
  .mobile-col-1-2 {
    width: 50%;
    width: calc(100% / 12 * 6);
    width: -webkit-calc(100% / 12 * 6);
    width: -moz-calc(100% / 12 * 6);
  }

  /* line 41, ../scss/_mobile.scss */
  .mobile-col-1-3 {
    width: 33.33333%;
    width: calc(100% / 12 * 4);
    width: -webkit-calc(100% / 12 * 4);
    width: -moz-calc(100% / 12 * 4);
  }

  /* line 47, ../scss/_mobile.scss */
  .mobile-col-1-4 {
    width: 25%;
    width: calc(100% / 12 * 3);
    width: -webkit-calc(100% / 12 * 3);
    width: -moz-calc(100% / 12 * 3);
  }

  /* line 53, ../scss/_mobile.scss */
  .mobile-col-3-4 {
    width: 75%;
    width: calc(100% / 12 * 9);
    width: -webkit-calc(100% / 12 * 9);
    width: -moz-calc(100% / 12 * 9);
  }

  /* Push/Pull */
  /* line 61, ../scss/_mobile.scss */
  .mobile-push-1-2 {
    left: 50%;
    left: calc(100% / 12 * 6);
    left: -webkit-calc(100% / 12 * 6);
    left: -moz-calc(100% / 12 * 6);
  }

  /* line 67, ../scss/_mobile.scss */
  .mobile-pull-1-2 {
    left: -50%;
    left: calc(-100% / 12 * 6);
    left: -webkit-calc(-100% / 12 * 6);
    left: -moz-calc(-100% / 12 * 6);
  }

  /* line 73, ../scss/_mobile.scss */
  .mobile-push-1-3 {
    left: 25%;
    left: calc(100% / 12 * 3);
    left: -webkit-calc(100% / 12 * 3);
    left: -moz-calc(100% / 12 * 3);
  }

  /* line 79, ../scss/_mobile.scss */
  .mobile-pull-1-3 {
    left: -25%;
    left: calc(-100% / 12 * 3);
    left: -webkit-calc(-100% / 12 * 3);
    left: -moz-calc(-100% / 12 * 3);
  }

  /* line 85, ../scss/_mobile.scss */
  .mobile-push-1-4 {
    left: 33.33333%;
    left: calc(100% / 12 * 4);
    left: -webkit-calc(100% / 12 * 4);
    left: -moz-calc(100% / 12 * 4);
  }

  /* line 91, ../scss/_mobile.scss */
  .mobile-pull-1-4 {
    left: -33.33333%;
    left: calc(-100% / 12 * 4);
    left: -webkit-calc(-100% / 12 * 4);
    left: -moz-calc(-100% / 12 * 4);
  }

  /* line 97, ../scss/_mobile.scss */
  .mobile-push-3-4 {
    left: 75%;
    left: calc(100% / 12 * 9);
    left: -webkit-calc(100% / 12 * 9);
    left: -moz-calc(100% / 12 * 9);
  }

  /* line 103, ../scss/_mobile.scss */
  .mobile-pull-3-4 {
    left: -75%;
    left: calc(-100% / 12 * 9);
    left: -webkit-calc(-100% / 12 * 9);
    left: -moz-calc(-100% / 12 * 9);
  }

  /* line 110, ../scss/_mobile.scss */
  .mobile-no-push, .mobile-no-pull {
    left: auto;
  }

  /* Mobile Rows */
  /* line 113, ../scss/_mobile.scss */
  .mobile-row {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  /* line 118, ../scss/_mobile.scss */
  .mobile-full {
    left: auto;
    clear: both;
    float: none;
    width: 100%;
    margin: .2em 0 0 0;
    display: block;
  }

  /* line 126, ../scss/_mobile.scss */
  .mobile-full:first-child {
    margin-top: 0;
  }

  /* line 128, ../scss/_mobile.scss */
  .mobile-left-text {
    text-align: left;
  }

  /* line 129, ../scss/_mobile.scss */
  .mobile-right-text {
    text-align: right;
  }

  /* line 130, ../scss/_mobile.scss */
  .mobile-center-text {
    text-align: center;
  }

  /* line 132, ../scss/_mobile.scss */
  .mobile-left {
    float: left;
  }

  /* line 133, ../scss/_mobile.scss */
  .mobile-right {
    float: right;
  }

  /* line 134, ../scss/_mobile.scss */
  .mobile-no-float {
    float: none;
  }

  /* Margin and Padding Reset */
  /* line 137, ../scss/_mobile.scss */
  .mobile-no-margin {
    margin: 0;
  }

  /* line 138, ../scss/_mobile.scss */
  .mobile-no-padding {
    padding: 0;
  }

  /* Mobile Tables */
  /* line 141, ../scss/_mobile.scss */
  table th, table td {
    padding: 4px;
  }

  /* line 143, ../scss/_mobile.scss */
  .no-mobile {
    display: none;
  }

  /* line 144, ../scss/_mobile.scss */
  .show-mobile {
    display: block;
  }

  /**************************************
  CUSTOM STYLES
  ***************************************/
  /* line 150, ../scss/_mobile.scss */
  #main-top-nav .nav {
    padding-top: 35px;
    /* Set to height of Button */
    display: block;
    position: relative;
  }
}
@media print {
  /****************************************************************************
  _tablet.scss
  
  Site Name:
  Author:
  Date:
  
  As the name suggests, this is the CSS for Printing. Please put your custom
  CSS after the note.
  *****************************************************************************/
  /* line 12, ../scss/_print.scss */
  * {
    background: transparent;
  }

  /* line 13, ../scss/_print.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 15, ../scss/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 17, ../scss/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 18, ../scss/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 19, ../scss/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 20, ../scss/_print.scss */
  img {
    max-width: 100%;
  }

  @page {
    margin: 0.5cm;
}

  /* line 22, ../scss/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 23, ../scss/_print.scss */
  h2, h3 {
    page-break-after: avoid;
  }

  /**************************************
  CUSTOM STYLES
  ***************************************/
}
